.char, .charClone {
    user-select: none;
    padding: 0.35rem;
    margin: 0 0 0.2rem 0;
    align-items: flex-start;
    align-content: flex-start;
    background-color:white;
    line-height: 1.2;
    border-radius: 3px;
    color: black;
    border: 1px solid #000;
    font-size: 1rem;
}

.charClone + div {
    display: none !important;
}
