# deactivate proxies from Google AppEngine (http://www.dontbeevil.fr/duplicate-content-web-proxy/)
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} AppEngine-Google [NC]
RewriteRule .* - [F]

RewriteEngine On
RewriteRule ^favicon.ico$ /styles/favicon.ico [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(js|ico|gif|jpg|png|css|zip|gz|swf)$ /index.php [L]

Options -Indexes
DirectoryIndex index.php index.html

RewriteRule (.*)_[0-9,\.]{1,}\.js$ $1\.js [L]
RewriteRule (.*)_[0-9,\.]{1,}\.css$ $1\.css [L]

#php_flag output_buffering Off
